@import 'common';

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: $backgroundColor;
  width: 100vw;
  height: 100vh;
}

#main {
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#main::-webkit-scrollbar { width: 0 ! important }
