.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
}

#main {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
}
