@import 'common';
@import "flexLayouts";

#Carousel {
  height: calc(100vh - #{$navHeight});
  width: 100%;
  scroll-snap-align: center;
  border: $devBorder solid orange;

  .imageLabel {
    z-index: 2;
    border: $devBorder solid red;
    position: relative;
    bottom: $footerHeight;
    @include flexRowStart();
    padding-left: $navPadding;
    }
}
