@import 'common';

#Carousel {
  // height: 100%;
  height: calc(100% - $navHeight);
  width: 100%;
  scroll-snap-align: center;
  border: $devBorder solid orange;
}




// #Carousel {
//   height: 100%;
//   scroll-snap-align: center;
//   background-color: lightgrey;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   justify-content: center;
//   .links {
//     border: $devBorder solid yellow;
//     display: flex;
//     align-content: center;
//     flex-direction: row;
//     justify-content: center;
//
//     a {
//       border: $devBorder solid green;
//     }
//
//   }
// }
