// @import "themeDark";
@import "themeLight";


$devBorder: 0px;

$navHeight: 60px;
$footerHeight: 25px;
$navPadding: 10px;
$iconPadding: 15px;

$descriptionPadding: 20px;
$descriptionPaddingTop: 10%;
$descriptionWidth: 33%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: none;
  scroll-behavior: smooth;
  font-family: 'Maven Pro', 'Helvetica', sans-serif;
  font-weight:300;
}

a {
	text-decoration: none;
}
