@import "common";
@import "flexLayouts";


footer {
  position: fixed;
  bottom: 0px;
  // z-index: 10;
  border: $devBorder solid red;
  width: 100%;
  height: $footerHeight;
  padding-left: $navPadding;
  padding-right: $navPadding;
  @include flexRowSpaceBetween();
	background-color: $backgroundColor;
}
