@import 'common';

// .slide-container {
//   width: 70%;
//   margin: auto; }
//
// h3 {
//   text-align: center; }
//
// .each-slide > div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-size: cover;
//   height: 300px;
// }
//
// .each-slide span {
//   padding: 20px;
//   font-size: 20px;
//   background: #efefef;
//   text-align: center;
// }

.each-fade .image-container img {
  width:100vw;
  margin-top: $navHeight;
  padding-bottom: $footerHeight;
  height: calc(100vh - #{$navHeight});
  object-fit: cover;
  opacity: 1;
  border: $devBorder solid cyan;
}

// .each-fade .imageLabel {
//   position: relative;
//   bottom: 50px;
//   padding-bottom: 50px;
//   // mix-blend-mode: difference;
//   // background: white;
// }
