@import "common";
@import "flexLayouts";

nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  border: $devBorder solid red;
  width: 100%;
  height: $navHeight;
  padding: $navPadding;
  @include flexRowStart();
	background-color: $backgroundColor;

  .navIcons {
    height: 100%;
    width: 100%;
    border: $devBorder solid blue;
    @include flexRowStart();



    .navIcon img{
      height: 100%;
      margin-right: $iconPadding;
      border: $devBorder solid green;
    }

  }

  .logo {
    height: 50%;
    border: $devBorder solid blue;
  }



}
