@import "common";

.serviceSection {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  scroll-snap-align: center;
  position: relative;
}

#slideShowImage {
  width: 100%;
  height: 100%;
  background-image: url('http://www.orjon.com/images/design/nouTable.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#Architectural {
  background-color: pink;
}

#Models {
  background-color: lightblue;
}

#Product {
  background-color: lightgreen;
}

#Technical {
  background-color: lightyellow;
}

.navArrowUp, .navArrowDown {
  border: $devBorder solid cyan;
  width: 40px;
}
.navArrowUp {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navArrowDown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(180deg);
}
