* {
  height: 100%;
}

.Architectural {
  background-color: pink;
}

.ThreeD {
  background-color: lightblue;
}

.Product {
  background-color: lightgreen;
}

.Technical {
  background-color: lightyellow;
}
