$backgroundColor: white;

$icon: rgba(0,0,0,0.9);
$iconHover: rgba(0,0,0,1);
$iconDim: 25%;

* {
  color: rgba(0,0,0,80);
}

.logo{
  opacity: invert($iconDim);
  &:hover{
    filter: invert(0%);
  }
}


.navIcon{
  filter: invert($iconDim);
  &:hover{
    filter: invert(0%);
  }
}
