$backgroundColor: #2e3032;


$textDim: 0.8;
$imageDim: 80%;
$iconOpacity: 0.9;

$icon: rgba(255,255,255,0.9);
$iconHover: rgba(255,255,255,1);

* {
  color: rgba(255,255,255,$textDim);
}

.logo{
  opacity: 1;
  &:hover{
    opacity: 1;
  }
}


.navIcon{
    opacity: $iconOpacity;
    // opacity: 1;
  &:hover{
    opacity: 1;
  }
}
