$backgroundColor: #2e3032;


$textDim: 0.8;
$imageDim: 80%;

$icon: rgba(255,255,255,0.9);
$iconHover: rgba(255,255,255,1);

* {
  color: rgba(255,255,255,$textDim);
}

.logo{
  filter: invert($imageDim);
  &:hover{
    filter: invert(100%);
  }
}


.navIcon{
  filter: invert($imageDim);
  &:hover{
    filter: invert(100%);
  }
}
